<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lista 1</h1>
    <h2>questao 2</h2>
    <h3>produto/id</h3>
    
    <script>
        var produtos = [
                {
                    "id": 0,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 1,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 2,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 3,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 4,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 5,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 6,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 7,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 8,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 9,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                },
                {
                    "id": 10,
                    "nome": "qualquer",
                    "preço": "qualquer",
                    "valor": "qualquer",
                    "descrição": "qualquer",
                }

            ]
        
        var str = JSON.stringify(produtos)
        var lista = document.createElement('p')
        lista.innerText = str
        document.body.appendChild(lista)
    </script>
</body>
</html>